a {
    text-decoration: none;
    color: rgb(233, 233, 233);  
}
.nav{
    background-color: rgb(41, 41, 41);
    padding: 0 2rem;
    height: 0;
    min-height: 9vh;
    overflow: hidden;
}
.nav-brand a{
    padding: 1rem 0;
    font-size: 1.6rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.nav-menu {
    justify-content: space-between;
}
.nav-item {
    list-style: none;
    display: flex;
    margin: 0%;
    font-family:abel;
}
.nav-link {
    padding: 1rem ;
    font-size: 1.6rem;
}
.nav-link:hover{
    background-color: #F7F8F8;
    background: -webkit-linear-gradient(to right, #869454, #F7F8F8);
    background: linear-gradient(to right, #86964c, #F7F8F8);    
}
.nav-link:hover a{
    color: rgb(6, 4, 4);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url(../images/WhatsApp\ Image\ 2023-07-06\ at\ 19.01.50.jpg);
   
  }
  
  h1 {
    text-align: center;
    color: rgb(233, 233, 233); 
    font-family: lexend_deca;
    font-size: 2.5rem;
  }
  h3 {
    text-align: center;
    color: rgb(233, 233, 233); 
    font-family: abel;
    font-size: 1.3rem;
}
  form {
    margin-bottom: 20px;
    text-align: center;
    padding: 6%;
  }
  
  input[type="text"] {
    width: 300px;
    padding: 10px;
    border-radius: 2rem ;
  }
  
  button {
    padding: 5px 10px;
    background-color: skyblue;
    border-radius: 2rem ;
    font-family: josefin_sans;
    cursor: pointer ;
    font-size: 1.2rem;
  }
  
  #resultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .bookCard {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #989696;
  }
  .bookCard img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  p{
    text-align: center;
    color: rgb(255, 255, 255); 
    font-family: abel;
    font-size: 1.3rem;
    font-weight: 900;
  }
  .like-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .like-button i {
    font-size: 20px;
    color: gray;
    transition: color 0.3s ease-in-out;
  }
  
  .like-button.liked i {
    color: red;
  }
  